<link href="~/css/stylesheet.css" rel="stylesheet" />
<div class="container">
    <h1 class="d-flex justify-content-center align-content-start"><i class="bi bi-currency-exchange lg" style="font-size: 5rem;">Conversion</i></h1>
</div>
<div class="box p-5">
    <div class="row my-4">
            <div class="col-3">
                <label for="amount" class="form-label">Amount</label>
                <input id="amount" class="form-control" type="text" value="1" required oninput="validInput(event)" />
            </div>    
            <div class="col-3">
                <label for="from" class="form-label">From</label>
                <select id="from" class="form-control " asp-items="@ViewBag.fromCurrencyBag"></select>
            </div>
            <div class="col-1 d-flex  align-items-end justify-content-center">
                <button class="btn rounded-pill" onclick="switchCurrencies()"><i class="bi bi-arrow-left-right"></i></button>
            </div>
            <div class="col-3">
                <label for="to" class="form-label">To</label>
                <select id="to" class="form-control" asp-items="@ViewBag.toCurrencyBag"></select>
            </div>
    </div>
    <div id="error" class="text-danger px-1 py-3"></div>
    <div>
        <input class="btn btn-primary" type="submit" value="Convert" onclick="convertRates()" onsubmit="validInput(event)" />
    </div>    
    <div class="my-4">
       <h3 class="text-black" id="result"></h3>
    </div>
</div>
@section Scripts{
    <script>
        var validInput = function (even) {
            var userInput = document.getElementById("amount").value;
            var isValid = /^\d+(\.\d+)?$/.test(userInput);
            var errorElement = document.getElementById("error");
            if (!isValid) {
                errorElement.textContent = "Please enter a valid amount.";
                event.preventDefault();
                return false;
            } else {
                errorElement.textContent = "";
                return true;
            }
        }
        var switchCurrencies = function () {
            var from = document.getElementById("from").value;
            var to = document.getElementById("to").value;
            document.getElementById("from").value = to;
            document.getElementById("to").value = from;
            convertRates();
        }
        var convertRates = function(){
            if (validInput()) {
                var from = document.getElementById("from").value;
                var to = document.getElementById("to").value
                var amount = parseFloat(document.getElementById("amount").value)
                console.log(from + " - " + to + " - " + amount);
                var url = 'https://localhost:7019/Conversion/Conversion?from=' + encodeURIComponent(from) + '&to=' + encodeURIComponent(to) + '&amount=' + encodeURIComponent(amount);
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.onload = function () {
                    if (xhr.status == 200) {
                        document.getElementById("result").innerHTML = "<span class=\"text-success\">" + amount + " " + from + " = </span>" + xhr.responseText + " " + to;
                    } else {
                        console.error('Error:', xhr.statusText);
                    }
                }
                xhr.send()
            }
        }
        
    </script>
}
